body {
    background-color: black;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; /* Prevents scrollbar when sliding */
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
     color: #ffca2c;
}
::placeholder {
    color: #3d3d3d !important; /* رمادي فاتح */
    opacity: 1; /* لمتصفح فايرفوكس */
}
i{
    cursor: pointer;
}

img{
    width: 100%;
    overflow: hidden;
}
.img{
    overflow: hidden;
    cursor: pointer;
}
.overlay{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: top 0.5s ease; 
}

.img:hover .overlay{
top: 0;
}
nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: flex; /* Puts the Black Tab and White Header side-by-side */
    transition: left 0.5s ease; /* The magic sliding animation */
}

/* 1. Black Menu Styles */
.nav-tab {
    background-color: black;
    width: 250px; /* Must match the negative left value */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    color: white;
}

.nav-tab li {
    cursor: pointer;
    transition: color 0.3s;
}

.nav-tab li:hover {
    color: #ffca2c;
}

.nav-footer p {
    color: #999;
    font-size: 0.8rem;
}

/* 2. White Sidebar Styles */
.nav-header {
    background-color: white;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.cursor-pointer {
    cursor: pointer;
}